.profile-container {
    min-height: 100vh;
    background-color: #0099ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}
.profile-container h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 10px;
}

.admin-info {
    display: flex;
    align-items: center;
}

.admin-info h3 {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
}

.admin-bar {
    padding: 20px;
    background-color: #0076c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.admin-image {
    background-image: url('/plasmawisp.png');
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.logout {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logout h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
}

.panel {
    width: 800px;
}

.panel-options {
    display: flex;
}

.option {
    padding: 10px;
    background-color: #1166ff;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-right: 1px;
    cursor: pointer;
}

.selected-option {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.upload-button {
    width: 100%;
    outline: none;
    border: 0;
    background-color: #2ac74e;
    color: white;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.create-button {
    width: 100%;
    outline: none;
    border: 0;
    background-color: #4aff74;
    color: white;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    flex-grow: 1;
}

.create-post {
    display: flex;
    flex-direction: column;
}

.create-post h3 {
    font-family: 'Open Sans', sans-serif;
    padding: 3px;
}

.create-post input {
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.view-posts {
    display: flex;
    flex-direction: column;
}

.view-posts .post {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-posts .post .post-title h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.view-posts .post .post-image {
    width: 70px;
    height: 50px;
    background-image: url('/slide1.png');
    background-size: cover;
    background-position: center;
}

.update {
    background-color: orange;
    border: 0;
    outline: none;
    padding: 10px;
    margin-right: 5px;
}

.delete {
    background-color: red;
    border: 0;
    outline: none;
    padding: 10px;
}