.topbar {
    padding: 20px;
    display: flex;
    background-color: #0099ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar h3{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo h3 {
    font-size: 30px;
}

.logo-image {
    background-image: url('/yikeslogo.png');
    width: 38px;
    height: 38px;
    background-position: center;
    background-size: contain;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-option {
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 7px;
    padding-left: 9px;
    border-radius: 100px;
    border: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

.search-button {
    background-color: blue;
    border: 0;
    padding: 7px;
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 510px) {
    .navigation {
        flex-direction: column-reverse;
    }

    .search-bar {
        padding-bottom: 10px;
    }
}