.post-content {
    min-height: 100vh;
}

.other-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .other-posts {
        justify-content: center;
    }
}