.post-content {
    min-height: 100vh;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    padding: 40px;
}

.other-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.error {
    color: red;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .other-posts {
        justify-content: center;
    }
}