.search-container h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.results {
    min-height: 100vh;
}

.post-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .post-results {
        justify-content: center;
    }
}